html {
  --tg-viewport-height: 100vh;
  --tg-viewport-stable-height: 100vh;
}

html,
body {
  font-size: 14px;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h5,
.h5 {
  font-size: 17.5px;
}

.datePicker {
  visibility: hidden;
  display: none;
  height: 0;
  padding: 0;
  width: 0;
  position: absolute;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker-popper[data-placement^="bottom"] {
  padding-top: 0px;
}

.custom-data-picker-container {
  position: absolute;
  z-index: 100;
  top: 13px;
  min-width: 253px;
}

.hidden-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

.search-data {
  background: #fff;
  border: 1px solid #cfd0d7;
  border-radius: 3px;
  max-height: 200px;
  overflow: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 100000000000000000;
}

.search-data-element {
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
}

.search-data-element:hover {
  background: #fafafa;
}

label b {
  color: #cd5c5c;
  font-weight: bold;
}

.phone-input {
  position: relative;
}

.phone-input::before {
  content: "+";
  font-size: 1.1rem;
  left: 10px;
  position: absolute;
  top: 5px;
  width: 0;
  z-index: 1;
}

.input-phone-pagging {
  appearance: none;
  padding-left: 1.2rem;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 760px;
  min-width: 300px;
  padding: 0 10px;
}

.wrapper-padding {
  border-radius: 0;
  box-shadow: none;
  padding: 7.8125vmin 0;
  width: 100%;
}

.title-margin {
  margin: 25px 0;
}

.form-check-input:checked {
  background-color: #373d48;
  border-color: #373d48;
}

.btn-primary {
  color: #fff;
  background-color: #373d48 !important;
  border-color: #373d48 !important;
  margin: 0 7px;
  box-shadow: none !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #2f343d;
  border-color: #2c313a;
}

.btn-primary:active {
  color: #fff;
  background-color: #2f343d;
  border-color: #2c313a;
}

._9bb0 {
  align-items: center;
  display: flex;
  margin-top: 20px;
}

._4d46 {
  margin: 25px 0;
}

.f1ae {
  margin-top: 20px;
  padding-top: 20px;
}

._9bb0 button {
  margin: 0 7px;
}

._9bb0 button:first-child {
  margin-left: 0;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
}

.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
}

.bc96 .react-datepicker__day-name,
.bc96 .react-datepicker__day,
.bc96 .react-datepicker__time-name {
  line-height: 2.5rem !important;
  width: 30px !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #000;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
  width: 30px !important;
  line-height: 2.5 !important;
}


.react-datepicker__day--selected {
  background-color: rgb(33, 107, 165) !important;
  color: #fff !important;
  border: none;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  color: #000;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
}

.react-datepicker__header {
  text-align: center;
}
